<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>Lukyanov Blog - Проект SkyWay</title>
    {%load staticfiles%}
<link href="{% static "app/content/website/pie-chart.png" %}" rel="shortcut icon" type="image/x-icon">
<link href="{% static "app/content/website/font-awesome.min.css" %}" rel="stylesheet">
<link href="{% static "app/content/website/Проект2.css" %}" rel="stylesheet">
<link href="{% static "app/content/website/skyway.css" %}" rel="stylesheet">
</head>
<body>
<div id="space"><br></div>
<div id="container">
<div id="wb_Text7" style="position:absolute;left:232px;top:530px;width:506px;height:72px;text-align:center;z-index:6;">
<span style="color:#556080;font-family:Arial;font-size:32px;">Вкладывайте в завтрашних лидеров!</span></div>
<div id="wb_Text4" style="position:absolute;left:483px;top:428px;width:134px;height:53px;text-align:center;z-index:7;">
<span style="color:#556080;font-family:Arial;font-size:32px;"><strong>SkyWay</strong></span><span style="color:#556080;font-family:Arial;font-size:27px;"><br></span></div>
<picture id="wb_Picture1" style="position:absolute;left:382px;top:408px;width:101px;height:77px;z-index:8">
<img src="{% static "app/content/website/images/e8639b_8108e05d24464fd88894ed3bf08319a4-mv2.png" %}" id="Picture1" alt="" srcset="">
</picture>
<hr id="Line3" style="position:absolute;left:0px;top:385px;width:970px;height:1px;z-index:9;">
<div id="wb_Image1" style="position:absolute;left:367px;top:52px;width:236px;height:236px;z-index:10;">
<a href="/"><img src="{% static "app/content/website/images/лого.png" %}" id="Image1" alt=""></a></div>
<hr id="Line1" style="position:absolute;left:0px;top:303px;width:970px;height:4px;z-index:11;">
<div id="wb_ResponsiveMenu1" style="position:absolute;left:186px;top:308px;width:599px;height:77px;z-index:12;">
<label class="toggle" for="ResponsiveMenu1-submenu" id="ResponsiveMenu1-title">Меню<span id="ResponsiveMenu1-icon"><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></span></label>
<input type="checkbox" id="ResponsiveMenu1-submenu">
<ul class="ResponsiveMenu1" id="ResponsiveMenu1">
<li><a href="/"><i class="fa fa-home fa-2x">&nbsp;</i><br>&#1043;&#1083;&#1072;&#1074;&#1085;&#1072;&#1103;</a></li>
<li>
<label for="ResponsiveMenu1-submenu-0" class="toggle"><i class="fa fa-briefcase fa-2x">&nbsp;</i>&#1055;&#1088;&#1086;&#1077;&#1082;&#1090;&#1099;<b class="arrow-down"></b></label>
<a href="/skyway"><i class="fa fa-briefcase fa-2x">&nbsp;</i><br>&#1055;&#1088;&#1086;&#1077;&#1082;&#1090;&#1099;<b class="arrow-down"></b></a>
<input type="checkbox" id="ResponsiveMenu1-submenu-0">
<ul>
<li><a href="/skyway"><i class="fa fa-train fa-2x">&nbsp;</i>SkyWay</a></li>
<li><a href="/copyrighting"><i class="fa fa-newspaper-o fa-2x">&nbsp;</i>&#1050;&#1086;&#1087;&#1080;&#1088;&#1072;&#1081;&#1090;&#1080;&#1085;&#1075;</a></li>
</ul>
</li>
<li>
<label for="ResponsiveMenu1-submenu-1" class="toggle"><i class="fa fa-user-secret fa-2x">&nbsp;</i>&#1051;&#1080;&#1095;&#1085;&#1099;&#1081;&nbsp;&#1082;&#1072;&#1073;&#1080;&#1085;&#1077;&#1090;<b class="arrow-down"></b></label>
<a href="/login"><i class="fa fa-user-secret fa-2x">&nbsp;</i><br>&#1051;&#1080;&#1095;&#1085;&#1099;&#1081;&nbsp;&#1082;&#1072;&#1073;&#1080;&#1085;&#1077;&#1090;<b class="arrow-down"></b></a>
<input type="checkbox" id="ResponsiveMenu1-submenu-1">
<ul>
<li><a href="/login"><i class="fa fa-desktop fa-2x">&nbsp;</i>&#1042;&#1093;&#1086;&#1076;</a></li>
<li><a href="/registration"><i class="fa fa-registered fa-2x">&nbsp;</i>&#1056;&#1077;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1094;&#1080;&#1103;</a></li>
</ul>
</li>
<li><a href="/about"><i class="fa fa-user fa-2x">&nbsp;</i><br>&#1054;&#1073;&#1086;&nbsp;&#1084;&#1085;&#1077;</a></li>
</ul>
</div>
<div id="wb_Text1" style="position:absolute;left:407px;top:749px;width:157px;height:32px;text-align:center;z-index:13;">
<span style="color:#556080;font-family:Arial;font-size:27px;"><strong>SKYWAY</strong></span></div>
<div id="wb_Text2" style="position:absolute;left:46px;top:811px;width:879px;height:81px;text-align:center;z-index:14;">
<span style="color:#556080;font-family:Arial;font-size:24px;">Skyway - надземная высокоэффективная транспортная технология, не имеющая аналогов в мире. Это скорость, безопасность, доступность, экономичность и бережное отношение к окружающей среде.</span></div>
<hr id="Line2" style="position:absolute;left:328px;top:791px;width:315px;height:1px;z-index:15;">
<div id="wb_Text5" style="position:absolute;left:91px;top:1033px;width:789px;height:58px;text-align:center;z-index:16;">
<span style="color:#556080;font-family:Arial;font-size:24px;"><strong><br>Надежные инвестиции в будущее своих детей</strong></span></div>
<div id="wb_YouTube1" style="position:absolute;left:113px;top:1138px;width:745px;height:419px;z-index:17;">
<iframe id="YouTube1" src="https://www.youtube.com/embed/pK-AjcsXUxY?rel=1&amp;ap=%2526fmt%3D18&amp;autohide=0&amp;fs=1" allowfullscreen></iframe></div>
<div id="wb_Text6" style="position:absolute;left:137px;top:1671px;width:789px;height:58px;text-align:center;z-index:18;">
<span style="color:#556080;font-family:Arial;font-size:24px;"><strong><br>Почему им стоит доверять?</strong></span></div>
<div id="wb_Shape1" style="position:absolute;left:68px;top:1791px;width:276px;height:202px;z-index:19;">
<img src="{% static "app/content/website/images/img0002.png" %}" id="Shape1" alt="" style="width:276px;height:202px;"></div>
<div id="wb_Text8" style="position:absolute;left:73px;top:1847px;width:266px;height:81px;text-align:center;z-index:20;">
<span style="color:#556080;font-family:Arial;font-size:24px;">СЕРЬЕЗНЫЙ УСТАВНОЙ КАПИТАЛ В 136 МЛРД. €</span></div>
<div id="wb_Shape2" style="position:absolute;left:382px;top:1791px;width:276px;height:202px;z-index:21;">
<img src="{% static "app/content/website/images/img0003.png" %}" id="Shape2" alt="" style="width:276px;height:202px;"></div>
<div id="wb_Text9" style="position:absolute;left:387px;top:1847px;width:266px;height:81px;text-align:center;z-index:22;">
<span style="color:#556080;font-family:Arial;font-size:24px;">КОМПАНИЯ ЗАРЕГИСТРИРОВАНА В ВЕЛИКОБРИТАНИИ</span></div>
<div id="wb_Shape3" style="position:absolute;left:694px;top:1791px;width:276px;height:202px;z-index:23;">
<img src="{% static "app/content/website/images/img0004.png" %}" id="Shape3" alt="" style="width:276px;height:202px;"></div>
<div id="wb_Text10" style="position:absolute;left:699px;top:1860px;width:266px;height:54px;text-align:center;z-index:24;">
<span style="color:#556080;font-family:Arial;font-size:24px;">БОЛЕЕ 38 ЛЕТ<br>РАЗРАБОТОК</span></div>
<div id="wb_Shape4" style="position:absolute;left:63px;top:2033px;width:276px;height:202px;z-index:25;">
<img src="{% static "app/content/website/images/img0005.png" %}" id="Shape4" alt="" style="width:276px;height:202px;"></div>
<div id="wb_Text11" style="position:absolute;left:68px;top:2081px;width:266px;height:108px;text-align:center;z-index:26;">
<span style="color:#556080;font-family:Arial;font-size:24px;">АБСОЛЮТНО <br>ПРОЗРАЧНАЯ<br>ДЕЯТЕЛЬНОСТЬ<br>КОМПАНИИ</span></div>
<div id="wb_Shape5" style="position:absolute;left:382px;top:2033px;width:276px;height:202px;z-index:27;">
<img src="{% static "app/content/website/images/img0006.png" %}" id="Shape5" alt="" style="width:276px;height:202px;"></div>
<div id="wb_Text12" style="position:absolute;left:387px;top:2092px;width:266px;height:81px;text-align:center;z-index:28;">
<span style="color:#556080;font-family:Arial;font-size:24px;">НАС ИНВЕСТИРУЕТ<br>БОЛЕЕ 150<br>СТРАН МИРА</span></div>
<div id="wb_Shape6" style="position:absolute;left:694px;top:2033px;width:276px;height:202px;z-index:29;">
<img src="{% static "app/content/website/images/img0007.png" %}" id="Shape6" alt="" style="width:276px;height:202px;"></div>
<div id="wb_Text13" style="position:absolute;left:699px;top:2105px;width:266px;height:54px;text-align:center;z-index:30;">
<span style="color:#556080;font-family:Arial;font-size:24px;">Более 350 000 инвесторов</span></div>
<hr id="Line5" style="position:absolute;left:46px;top:1671px;width:970px;height:1px;z-index:31;">
<div id="wb_Text14" style="position:absolute;left:91px;top:2324px;width:789px;height:58px;text-align:center;z-index:32;">
<span style="color:#556080;font-family:Arial;font-size:24px;"><strong><br>Стань инвестором</strong></span></div>
<hr id="Line6" style="position:absolute;left:0px;top:2311px;width:970px;height:1px;z-index:33;">
<div id="wb_Shape7" style="position:absolute;left:660px;top:2414px;width:283px;height:54px;z-index:34;">
<a href="https://lend.skyway-capital.com//?partner_id=195945" target="_blank"><img class="hover" src="{% static "app/content/website/images/img0008_hover.png" %}" alt="" style="border-width:0;width:283px;height:54px;"><span><img src="{% static "app/content/website/images/img0008.png" %}" id="Shape7" alt="" style="width:283px;height:54px;"></span></a></div>
<div id="wb_Shape8" style="position:absolute;left:344px;top:2414px;width:283px;height:54px;z-index:35;">
<a href="https://office.skywayinvestgroup.com/site/register?ref=4605867975491607&language=ru&shr=16416920" target="_blank"><img class="hover" src="{% static "app/content/website/images/img0009_hover.png" %}" alt="" style="border-width:0;width:283px;height:54px;"><span><img src="{% static "app/content/website/images/img0009.png" %}" id="Shape8" alt="" style="width:283px;height:54px;"></span></a></div>
<div id="wb_Shape9" style="position:absolute;left:28px;top:2414px;width:283px;height:54px;z-index:36;">
<a href="http://rsw-systems.com/?r=141195" target="_blank"><img class="hover" src="{% static "app/content/website/images/img0010_hover.png" %}" alt="" style="border-width:0;width:283px;height:54px;"><span><img src="{% static "app/content/website/images/img0010.png" %}" id="Shape9" alt="" style="width:283px;height:54px;"></span></a></div>
<div id="wb_Shape10" style="position:absolute;left:350px;top:2507px;width:270px;height:54px;z-index:37;">
<a href="/registration"><img class="hover" src="{% static "app/content/website/images/img0011_hover.png" %}" alt="" style="border-width:0;width:270px;height:54px;"><span><img src="{% static "app/content/website/images/img0011.png" %}" id="Shape10" alt="" style="width:270px;height:54px;"></span></a></div>
</div>
<div id="PageFooter1" style="position:absolute;overflow:hidden;text-align:center;left:0px;top:2572px;width:100%;height:121px;z-index:38;">
<div id="PageFooter1_Container" style="width:970px;position:relative;margin-left:auto;margin-right:auto;text-align:left;">
<div id="wb_MaterialIcon1" style="position:absolute;left:473px;top:56px;width:24px;height:22px;text-align:center;z-index:0;">
<a href="/"><div id="MaterialIcon1"><i class="material-icons">&#xe8b6;</i></div></a></div>
<div id="wb_Image4" style="position:absolute;left:892px;top:60px;width:14px;height:14px;z-index:1;">
<a href="http://twitter.com/_LUCKYUNG_"><img src="{% static "app/content/website/images/003-twitter-letter-logo.png" %}" id="Image4" alt=""></a></div>
<div id="wb_Text3" style="position:absolute;left:36px;top:53px;width:423px;height:15px;z-index:2;">
<span style="color:#909090;font-family:Arial;font-size:12px;">© 2017&nbsp; All rights reserved · Powered by <u><a href="/" class="низ">Playbox Media Group</a></u></span></div>
<div id="wb_Image3" style="position:absolute;left:918px;top:60px;width:14px;height:14px;z-index:3;">
<a href="http://instagram.com/dankalukianov"><img src="{% static "app/content/website/images/001-instagram-logo.png" %}" id="Image3" alt=""></a></div>
<div id="wb_Image2" style="position:absolute;left:943px;top:60px;width:14px;height:14px;z-index:4;">
<a href="http://vk.com/dannys142"><img src="{% static "app/content/website/images/002-vk.png" %}" id="Image2" alt=""></a></div>
<hr id="Line4" style="position:absolute;left:0px;top:21px;width:970px;height:1px;z-index:5;">
</div>
</div>
</body>
</html>